.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.item {
  text-align: center;
  justify-content: center;
  display: flex;
  flex: 1;
  padding: 10px;
}

.icon {
  width: 45px;
  height: 45px;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
